services:
    - docker

env:
  global:
    - IMAGE=elpaso/qgis-testing-environment
    # - IMAGE=boundlessgeo/qgis-testing-environment
    # - IMAGE=kartoza/qgis-testing

  matrix:
    # Tags from elpaso
    # - QGIS_VERSION_TAG=release-2_8
    # - QGIS_VERSION_TAG=release-2_14
    - QGIS_VERSION_TAG=master

    # Tags from boundlessgeo
    # - QGIS_VERSION_TAG=release # Current 2.14
    # - QGIS_VERSION_TAG=master_2 # Current 2.17
    # - QGIS_VERSION_TAG=master # Current 3.0

    # Tags from kartoza
    #- QGIS_VERSION_TAG=boundlessgeo-2.14.7

language: python

cache:
  directories:
    - $HOME/.cache/pip

python:
  - "3.6"

branches:

  #only:
  #  - master
  #  - develop
  #  - experimental

addons:
  apt:
    packages:
      - git
      - python-software-properties

before_install:
  - docker pull ${IMAGE}:${QGIS_VERSION_TAG}

install:
  - pip install --upgrade pip
  - pip install --upgrade pylint
  - pip install --upgrade pycodestyle
  - pip3 install Pillow
  - docker run -d --name qgis-testing-environment -v ${TRAVIS_BUILD_DIR}:/tests_directory -e DISPLAY=:99 ${IMAGE}:${QGIS_VERSION_TAG}
  - sleep 10
  - docker exec -it qgis-testing-environment sh -c "qgis_setup.sh slyr"


script:

  - docker exec -it qgis-testing-environment sh -c "qgis_testrunner.sh test_suite.test_qgis3"
  - make pylint
  - make pycodestyle

sudo: false
