name: Linting

on:
  push:
    paths:
    - "slyr_community/**"
    - ".github/workflows/lint.yaml"
  pull_request:
    types: [opened, synchronize, edited]


jobs:

  Check-code-quality:
    runs-on: ubuntu-latest
    steps:

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Check out source repository
        uses: actions/checkout@v6

      - name: Install packages
        run: |
          pip install -r REQUIREMENTS_TESTING.txt

      - name: Pylint
        run: make pylint
